<!-- Toolbar -->
<nav class="toolbar" style="background-color: #e3f2fd;">
    <a class="navbar-brand brand-custom" href="#">Solar System</a>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link login-custom" routerLink="/mercury/list">Mercury <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/mercury/details">Fact details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/mercury/add">Add Fact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/mercury/question">Ask Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/mercury/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link register-custom" routerLink="/mercury/rx100/1">RX 100</a>
            </li>
        </ul>
    </div>
</nav>