<h1>Home</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide blog-post" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="10000">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Space Shuttle Challenger</mat-card-title>
              <mat-card-subtitle>Kennedy Space Center, Florida, USA</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/image_1.jpg" alt="Photo of a plant">
            <mat-card-content>
              <p>
                The Space Shuttle Challenger launching from Complex 39
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
      </div>
      <div class="carousel-item"  data-bs-interval="10000">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Star</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/image_3.jpg" alt="Photo of a plant">
            <mat-card-content>
              <p>
                A planet is a large astronomical body that is neither a star nor a stellar remnant. At least eight planets exist in the Solar System
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
      </div>
      <div class="carousel-item"  data-bs-interval="10000">
        <mat-card class="example-card">
            <mat-card-subtitle>Expansion rate</mat-card-subtitle>
            <mat-card-title>NASA</mat-card-title>
            <img mat-card-image  src="../../assets/img/image_2.jpg" alt="Photo of a galaxy">
            <mat-card-content>
              <p>This card has divider and indeterminate progress as footer</p>
              <p>The study of the universe's expansion rate has been a topic that has fascinated scientists and astronomers for a very long time..</p>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
          </mat-card>
      </div>
    </div>
  </div>